@import url("./index.css");

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  background-color: #111111;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 40px;
}

.header__text {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  min-width: 280px;
  max-width: 793px;
  padding-top: 49px;
}

.header__title {
  font-family: "Archivo Black", "Arial", sans-serif;
  font-size: 72px;
  color: #ffffff;
  margin: 0;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__subtitle {
  color: #ffffff80;
  margin-top: 15px;
  margin-bottom: 0;
}

.header__description {
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 0;
}

.header__links-list {
  display: flex;
  list-style: none;
  padding: 0;
  column-gap: 30px;
  margin-top: 30px;
}

.header__link {
  font-family: "Open Sans Semibold";
  text-decoration: none;
  color: #ffffff;
}

.link__underline {
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #4c1a97 0%, #6d6dff 100%);
  margin-top: 5px;
}

.header__circle {
  position: absolute;
  top: 240px;
  left: 813px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: rgba(109, 109, 255, 1);
  z-index: -1;
  filter: blur(10rem);
}

.header__image {
  width: 387px;
  height: 500px;
}

/*Main styles*/
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}

.main__title,
.contacts__title {
  color: #ffffff;
  font-family: "Archivo Black", "Arial", sans-serif;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 50px;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  margin-bottom: 100px;
}

.skill__icon {
  width: 50px;
  aspect-ratio: 1/1;
}

.projects {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.coffee__project,
.my__project {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #ffffff;
  width: 590px;
  height: 670px;
  background-color: #1c1c1c;
}

.project__icons {
  position: absolute;
  width: 40px;
  aspect-ratio: 1/1;
  top: 280px;
  left: 12px;
}

.project__icons-css,
.project__icons-atom {
  left: 62px;
}

.project__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: bold;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.project__description {
  margin-left: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  margin-top: 0;
  height: 189px;
}

.project__description p {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
}

.project__links {
  display: flex;
  justify-self: flex-end;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 30px;
  column-gap: 20px;
}

.link__demo,
.link__github {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
}

.link__demo {
  color: #6d6dff;
}

.link__github {
  color: #ffffff99;
}

.github__icon {
  width: 20px;
  aspect-ratio: 1/1;
}

/*Footer styles*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 243px;
  padding-top: 100px;
}

.footer__circle {
  position: absolute;
  left: 450px;
  bottom: 23px;
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: #6d6dff;
  filter: blur(10rem);
  z-index: -1;
}

.contacts__title {
  margin-bottom: 20px;
}

.contact__email {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #6d6dff;
  font-size: 18px;
  margin-bottom: 30px;
}

.social__media {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
}

/*Hover*/

.header__link:hover {
  opacity: 50%;
}

.link__demo:hover,
.link__github:hover {
  opacity: 50%;
}

.contact__email:hover {
  opacity: 50%;
}

.linkedin__icon:hover,
.facebook__icon:hover,
.instagram__icon:hover,
.twitter__icon:hover {
  opacity: 50%;
}
